@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Rajdhani:wght@300;400;500;600;700&display=swap');

#root {
  max-width: 100%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color:olive;
}

body {
  font-family: "Libre Baskerville", serif;
}

.producto-card {

  background-color:darkgreen;

}